<template>
  <UserLayout>
    <ul>
      <li v-for="carPage in carsPage" :key="carPage.id" >
        <ListItem name="carPage.name" />
      </li>
    </ul>
  </UserLayout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Getter, Action } from 'vuex-class'
import { IPage, ICarModel } from '@/store/state'
import UserLayout from '@/components/UserLayout.vue'
import ListItem from '@/components/ListItem.vue'

@Component({
  components: {
    UserLayout,
    ListItem
  }
})
export default class CarList extends Vue {
  @Getter('carsPage')
  public carsPage!: IPage<ICarModel>

  @Action('bindCarsPage')
  public bindCarsPage: () => any
    = () => null
  
  @Action('unBindCarsPage')
  public unBindCarsPage: () => any
    = () => null

  created () {
    this.bindCarsPage()
  }

  destroyed () {
    this.unBindCarsPage()
  }
}
</script>
