<template>
    <div class="grid">
        <header>
            <slot name="nav" />
        </header>
        <main>
            <slot />
        </main>
    </div>
</template>

<script>
export default {
  name: 'AdminLayout'
}
</script>

<style scoped>
.grid {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    grid-template-columns: 1fr minmax(auto, 60rem) 1fr;
    grid-template-rows: 3.5rem 1fr 5rem;
    grid-template-areas: 
        "header header header"
        ". content .";
}

main {
    grid-area: content;
    padding: 1rem;
}

header {
    grid-area: header;
    display: grid;
    align-content: stretch;
    justify-content: stretch;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
</style>