<template>
    <div class="grid">
      <img :src="imageUrl" />
      <div class="name">{{ name }}</div>
      <div class="price">{{ price }}</div>
    </div>
</template>

<script>
export default {
  name: 'ListItem',
  props: [
    'name',
    'imageUrl',
    'price'
  ]
}
</script>

<style lang="css" scoped>
  .grid {
    display: grid;
    grid-template-columns: 20em 1fr 1fr;
    width: 100%;
  }
</style>
