<template>
    <div>
      <md-button to="add" class="md-fab">
        <md-icon>add</md-icon>
      </md-button>
      <div class="grid">
        <md-card v-for="car in carsPage" :key="car.id">

          <md-card-media>
            <img :src="car.mainImage" alt="vue">
          </md-card-media>

          <md-card-header>
            <h2 class="md-title">
              {{ car.brand }} {{ car.model }}
            </h2>
          </md-card-header>

          <md-card-expand>
            <md-card-actions md-alignment="space-between">
              <div>
                <md-button :to="`list/${car['.key']}`">Edit</md-button>
                <md-button v-on:click="() => deleteCar(car['.key'])" class="md-accent">delete</md-button>
              </div>

              <md-card-expand-trigger>
                <md-button class="md-icon-button">
                  <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
              </md-card-expand-trigger>
            </md-card-actions>

            <md-card-expand-content>
              <md-card-content>
                <md-list>
                  <md-list-item v-if="isSet(car.milage)">
                    <md-icon>
                      directions_car
                      <md-tooltip md-direction="bottom">Milage</md-tooltip>
                    </md-icon>
                    <span class="md-list-item-text">{{car.milage}}</span>
                  </md-list-item>

                  <md-list-item v-if="isSet(car.fuelType)">
                    <md-icon>
                      local_gas_station
                      <md-tooltip md-direction="bottom">Fuel</md-tooltip>
                    </md-icon>
                    <span class="md-list-item-text">{{car.fuelType}}</span>
                  </md-list-item>
                  <md-list-item v-if="isSet(car.price)">
                    <md-icon>
                      credit_card
                      <md-tooltip md-direction="bottom">Price</md-tooltip>
                    </md-icon>
                    <span class="md-list-item-text">{{car.price}}</span>
                  </md-list-item>
                </md-list>
              </md-card-content>
            </md-card-expand-content>
          </md-card-expand>
        </md-card>
      </div>
    </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import ListItem from '@/components/ListItem.vue'
import '@/store'
import { IPage, ICarModel } from '@/store/state'
import { Action } from './store'
import { Getter as RootGetter, Action as RootAction} from 'vuex-class'

@Component({
  components: {
    ListItem
  }
})
export default class AdminList extends Vue {
  @RootGetter carsPage!: IPage<ICarModel>[]
 
  @RootAction bindCarsPage!: () => any
  @RootAction unbindCarsPage!: () => any

  @Action deleteCar!: () => any

  beforeMount() {
    this.bindCarsPage()
  }

  deactivated() {
    this.unbindCarsPage()
  }

  isSet(variable: any) {
    return variable !== undefined && variable !== null;
  }
}
</script>

<style scoped>
.grid {
  display: grid;
  grid-row-gap: 0.5rem;
}

.md-fab {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}

img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
</style>
