<template>
  <md-card>
    <md-card-header>
      <h1 class="md-title">Edit car</h1>
    </md-card-header>
    <md-card-content>
    <md-field>
      <label>Brand</label>
      <md-input v-model="car.brand"></md-input>
    </md-field>
    <md-field>
      <label>Model</label>
      <md-input v-model="car.model"></md-input>
    </md-field>
    <md-field>
      <label>Production date</label>
      <md-input v-model="car.productionDate"></md-input>
    </md-field>
    <md-field>
      <label>Milage</label>
      <md-input v-model="car.milage"></md-input>
    </md-field>
    <md-field>
      <label>Fuel type</label>
      <md-input v-model="car.fuelType"></md-input>
    </md-field>
    <md-field>
      <label>Price</label>
      <md-input v-model="car.price"></md-input>
    </md-field>
    <md-chips v-model="car.features" md-placeholder="Add features..."></md-chips>
    <md-field>
      <label>Description</label>
      <md-input v-model="car.description"></md-input>
    </md-field>
    <md-field>
      <label>Main image</label>
      <md-file v-on:md-change="images => editedCarAddMainImage(images[0])" :value="editedCarMainImageName" accept="image/*"></md-file>
    </md-field>
    <div class="extended-field" v-for="(_, index) in carImagesAmount" :key="index">
      <md-field>
        <label>Image</label>
        <md-file :value="editedCarImageName(index)" v-on:md-change="(image) => editedCarUpadateImage({newImage: image, indexToUpdate: index})" accept="image/*"></md-file>
      </md-field>
      <md-button v-on:click="editedCarRemoveImage(index)">Remove</md-button>
    </div>
    <md-field>
      <label>Add new image</label>
      <md-file :value="''" v-on:md-change="(images) => editedCarAddImage(images[0])" accept="image/*"></md-file>
    </md-field>
    </md-card-content>
    <md-card-actions>
      <md-button v-on:click="goBackToList">Cancel</md-button>
      <md-button class="md-primary" v-on:click="saveCar(car)">save car</md-button>
    </md-card-actions>
  </md-card>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import router from '@/router'
import { ICarModel } from '@/store/state'
import { Action as RootAction } from 'vuex-class'
import { Action, Getter } from './store'
import { IEditedCarModel } from './store/state'
import { IUpdateImageActionPayload } from './store/actions'

@Component({
  props: {
    id: String
  }
})
export default class EditItem extends Vue {
  id!: string

  @Getter('editedCar') car!: IEditedCarModel
  @Getter editedCarMainImageName: string | undefined
  @Getter editedCarImageName!: (id: number) => string
  @Getter carImagesAmount!: number

  @Action('saveCar') saveCarAction!: () => Promise<any>
  @Action editedCarAddMainImage!: (image: File) => Promise<any> 
  @Action editedCarAddImage!: (image: File) => Promise<any> 
  @Action editedCarRemoveImage!: (index: number) => Promise<any> 
  @Action editedCarUpadateImage!: (payload: IUpdateImageActionPayload) => Promise<any>
  @Action disposeEditedCarModel!: () => Promise<any>
  @Action bindCarInfo!: (id: string) => Promise<any>
  @Action unbindCarInfo!: (id: string) => Promise<any>

  saveCar() {
    this.saveCarAction()
      .then(() => {
        router.push({ name: 'Admin-List' })
      })
  }

  goBackToList() {
    router.replace({ name: 'Admin-List' })
  }

  beforeMount() {
    this.bindCarInfo(this.id)
  }

  beforeUpdate() {
    console.log('before update')
  }

  updated() {
    console.log('after update')
  }

  deactivated() {
    this.unbindCarInfo(this.id)
  }
}
</script>
<style>
.extended-field {
  display: grid;
  grid-template: 'a b' / auto 1fr;
  align-items: center;
}
</style>