<template>
    <AdminLayout>
        <nav slot="nav">
            <router-link to="/admin">Admin</router-link>
            <router-link to="/">Log off</router-link>
        </nav>
        <router-view></router-view>
    </AdminLayout> 
</template>

<script lang="ts">
import AdminLayout from '@/components/AdminLayout.vue'
import Component from 'vue-class-component'
import Vue from 'vue'

@Component({
  components: {
    AdminLayout
  }
})
export default class Admin extends Vue {
}
</script>
<style scoped>
nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    align-content: center;
    grid-column-gap: 1rem;
    padding: 0 1rem;
    background-color: blue;
}
a {
   color: grey; 
   display: inline-block;
}

router-link {
    display: inline-block;
}
</style>