<template>
    <router-view/>
</template>

<script lang="ts">
export default {
  name: 'app'
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
  font: 16px regular,Roboto,sans-serif;
}

a {
  color:black ;
  text-decoration: none;
}

.floating-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: blue;
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
</style>
