<template>
    <div>
        <input v-model="username" type="email" />
        <input v-model="password" type="password" />
        <button v-on:click="() => logIn({username, password})">Log in</button>
        <input id="rememberMe" type="checkbox" @change="rememberMeEvent" :checked="rememberMe">
        <label for="rememberMe">Remember Me</label>
    </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Action, Getter } from './store'
import { ICredentials } from './store/actions'


@Component({
  data: () => ({
    username: '',
    password: ''
  })
})
export default class Login extends Vue {
  @Getter('rememberMe')
  public rememberMe: boolean
    = false

  @Action('setRememberMe')
  public setRememberMe: (payload: boolean) => any
    = () => null

  @Action('logIn')
  public logIn: (credentials: ICredentials) => any
    = () => null

  rememberMeEvent({target}: Event) {
    const input = target as HTMLInputElement
    this.setRememberMe(input.checked)
  }
}
</script>
